.body {
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 192, 170);
  position: relative;
  min-height: 0px;
}

.home {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/100% 100% no-repeat;
  position: relative;
  min-height: 1024px;
}

.body__hero_title {
  display: flex;
  align-items: center;
  font: 400 96px/1.5 "Open Sans", Helvetica, Arial, serif;
  color: rgb(230, 90, 231);
  letter-spacing: 0px;
  width: 439px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  position: absolute;
  top: 518px;
  min-height: 0px;
  left: 102px;
}
@media (max-width: 1199px) {
  .body__hero_title {
    font-size: 80px;
    text-align: left;
  }
}
@media (max-width: 991px) {
  .body__hero_title {
    font-size: 68px;
  }
}
@media (max-width: 767px) {
  .body__hero_title {
    font-size: 56px;
  }
}
@media (max-width: 575px) {
  .body__hero_title {
    font-size: 52px;
  }
}
@media (max-width: 479px) {
  .body__hero_title {
    font-size: 44px;
  }
}
@media (max-width: 383px) {
  .body__hero_title {
    font-size: 40px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  min-height: 0px;
  margin: 0px 0px 983px;
}

.body__box {
  display: flex;
  flex-direction: column;
  background-color: rgba(89, 205, 251, 0.368);
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  min-height: 0px;
}

.row {
  display: flex;
  justify-content: center;
  width: 51.67%;
  position: relative;
  flex-grow: 1;
  min-height: 0px;
  margin: 3px auto 2px;
}
@media (max-width: 991px) {
  .row {
    width: 58.77%;
  }
}
@media (max-width: 767px) {
  .row {
    width: 65.53%;
  }
}
@media (max-width: 575px) {
  .row {
    width: 71.71%;
  }
}
@media (max-width: 479px) {
  .row {
    justify-content: center;
    align-items: stretch;
    width: 77.17%;
  }
}
@media (max-width: 383px) {
  .row {
    width: 81.84%;
  }
}

.row > .item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 85px;
  min-width: 85px;
}
.body__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 30px/1.2 "Open Sans", Helvetica, Arial, serif;
  color: rgb(230, 90, 231);
  text-align: center;
  letter-spacing: 0px;
  cursor: pointer;
  position: relative;
  flex-grow: 1;
  min-height: 0px;
}
@media (max-width: 1199px) {
  .body__title {
    font-size: 24px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .body__title {
    font-size: 20px;
  }
}
@media (max-width: 479px) {
  .body__title {
    font-size: 16px;
  }
}

.row > .spacer {
  flex: 0 1 198.5px;
}
@media (max-width: 479px) {
  .row > .spacer {
    flex: 0 1 200px;
    display: flex;
  }
}

.row > .item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 113px;
  min-width: 113px;
}
@media (max-width: 479px) {
  .row > .item1 {
    flex: 0 0 85px;
    min-width: 85px;
  }
}

.body__title1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 30px/0.96 "Open Sans", Helvetica, Arial, serif;
  color: rgb(230, 90, 231);
  text-align: center;
  letter-spacing: 0px;
  cursor: pointer;
  position: relative;
  flex-grow: 1;
  min-height: 0px;
  margin: 7px 0px 0px;
}
@media (max-width: 1199px) {
  .body__title1 {
    font-size: 24px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .body__title1 {
    font-size: 20px;
  }
}
@media (max-width: 479px) {
  .body__title1 {
    font-size: 16px;
  }
}

.row > .spacer1 {
  flex: 0 1 202.5px;
}
@media (max-width: 479px) {
  .row > .spacer1 {
    flex: 0 1 200px;
    display: flex;
  }
}

.row > .item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 109px;
  min-width: 109px;
}
@media (max-width: 479px) {
  .row > .item2 {
    flex: 0 0 85px;
    min-width: 85px;
  }
}

.body__title2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 30px/1.2 "Open Sans", Helvetica, Arial, serif;
  color: rgb(230, 90, 231);
  text-align: center;
  letter-spacing: 0px;
  cursor: pointer;
  position: relative;
  flex-grow: 1;
  min-height: 0px;
}
@media (max-width: 1199px) {
  .body__title2 {
    font-size: 24px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .body__title2 {
    font-size: 20px;
  }
}
@media (max-width: 479px) {
  .body__title2 {
    font-size: 16px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  width: 92.67%;
  position: relative;
  min-height: 0px;
  margin: 140px auto;
}

.col {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 0px;
}

.row1 {
  display: flex;
  position: relative;
  min-height: 0px;
}
@media (max-width: 1399px) {
  .row1 {
    justify-content: flex-start;
    align-items: stretch;
  }
}

.row1 > .item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 919px;
}

.col1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  min-height: 0px;
  margin: 6px 0px 0px;
}
@media (max-width: 1399px) {
  .col1 {
    margin: 6px 118px 43px 0px;
  }
}
@media (max-width: 1199px) {
  .col1 {
    margin: 6px 112px 43px 0px;
  }
}
@media (max-width: 767px) {
  .col1 {
    margin: 6px 126px 43px 0px;
  }
}
.body__hero_title1 {
  display: flex;
  align-items: center;
  font: 400 90px/1.5 "Open Sans", Helvetica, Arial, serif;
  color: rgb(230, 90, 231);
  letter-spacing: 0px;
  position: relative;
  min-height: 0px;
}
@media (max-width: 1919px) {
  .body__hero_title1 {
    text-align: left;
  }
}
@media (max-width: 1399px) {
  .body__hero_title1 {
    font-size: 60px;
    margin: 0px 128px 0px 0px;
  }
}
@media (max-width: 1199px) {
  .body__hero_title1 {
    font-size: 50px;
  }
}
@media (max-width: 991px) {
  .body__hero_title1 {
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .body__hero_title1 {
    font-size: 44px;
  }
}
@media (max-width: 383px) {
  .body__hero_title1 {
    font-size: 40px;
  }
}
@media (min-width: 1920px) and (max-width: 99999px) {
  .body__hero_title1 {
    margin: 0px;
  }
}
@media (max-width: 767px) {
  .body__hero_title1 {
    margin: 0px 12px 0px 0px;
  }
}
.body__big_title {
  display: flex;
  align-items: center;
  font: 400 35px/1.2 "Open Sans", Helvetica, Arial, serif;
  color: rgb(230, 90, 231);
  letter-spacing: 0px;
  width: 40.04%;
  position: relative;
  min-height: 49px;
  margin: 38px 59.96% 0px 0%;
}
@media (max-width: 1399px) {
  .body__big_title {
    font-size: 30px;
    text-align: left;
  }
}
@media (max-width: 1199px) {
  .body__big_title {
    font-size: 36px;
    width: 56.15%;
    margin: 38px 43.85% 0px 0%;
  }
}
@media (max-width: 991px) {
  .body__big_title {
    font-size: 20px;
    width: 70.84%;
    margin: 38px 29.16% 0px 0%;
  }
}
@media (max-width: 575px) {
  .body__big_title {
    font-size: 24px;
  }
}
@media (max-width: 383px) {
  .body__big_title {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .body__big_title {
    width: 72.25%;
    margin: 38px 27.75% 0px 0%;
  }
}
.row1 > .spacer {
  flex: 0 1 121px;
}
@media (max-width: 1399px) {
  .row1 > .spacer {
    flex: 0 1 auto;
    display: flex;
  }
}

.row1 > .item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 223px;
}

.body__box1 {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/100% 100% no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.247));
  position: relative;
  flex-grow: 1;
  min-height: 224px;
  margin: 0px 0px 13px;
}
.body__medium_title {
  display: flex;
  align-items: center;
  font: 400 24px/1.2 "Open Sans", Helvetica, Arial, serif;
  color: rgb(89, 205, 251);
  letter-spacing: 0px;
  position: relative;
  min-height: 0px;
  margin: 50px 0px 0px 4px;
}
@media (max-width: 1919px) {
  .body__medium_title {
    text-align: left;
  }
}
@media (max-width: 1199px) {
  .body__medium_title {
    font-size: 36px;
    margin: 6px 0px 0px 28px;
  }
}
@media (max-width: 991px) {
  .body__medium_title {
    font-size: 32px;
    margin: 6px 0px 0px 24px;
  }
}
@media (max-width: 767px) {
  .body__medium_title {
    font-size: 20px;
    margin: 6px 0px 0px 20px;
  }
}
@media (max-width: 575px) {
  .body__medium_title {
    font-size: 24px;
  }
}
@media (max-width: 383px) {
  .body__medium_title {
    font-size: 20px;
  }
}
@media (max-width: 1399px) {
  .body__medium_title {
    margin: 6px 0px 0px 4px;
  }
}
@media (max-width: 479px) {
  .body__medium_title {
    margin: 6px 0px 0px 16px;
  }
}

.body > .item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 52px;
}

.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  min-height: 0px;
}

.body__box2 {
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 192, 170);
  border-style: solid;
  border-color: rgb(230, 90, 231);
  border-width: 1px 0px 0px 0px;
  position: relative;
  flex-grow: 1;
  min-height: 0px;
}

.row2 {
  display: flex;
  justify-content: center;
  position: relative;
  flex-grow: 1;
  min-height: 0px;
  margin: 17px 0px;
}

.row2 > .item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 76px;
  min-width: 76px;
}

.body__info {
  font: 400 12px/1.5 "Open Sans", Helvetica, Arial, serif;
  color: rgb(230, 90, 231);
  letter-spacing: -0.200000003px;
  position: relative;
  flex-grow: 1;
  min-height: 0px;
}

.row2 > .spacer {
  flex: 0 1 21px;
}

.row2 > .item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 84px;
  min-width: 84px;
}/*# sourceMappingURL=index.css.map */