.categories{
    background-color: rgb(217, 217, 217);
    cursor: pointer;
    position: relative;
    min-height: 200px;
    
    margin: 0px 0px 65px 0px;
    
    .item{
        
        
        .banner{
            
        }
    }
}