.art{
    border: solid;
    display: flex;
    flex-direction: column;
    width: 300px;


    .prices{
        display: flex;
        justify-content: space-between;
    }

    img{
        max-width: 100%;
        min-width: 100%;
        height: 200px;
    }
}