.navbar{
    height: 65px;
    background-color: rgba(89, 205, 251, 0.368);

    .wrapper{
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .item{
            display: flex;
            align-items: center;
            font-size: 18px;
        }
    }
}