.navbar{
    width: 100vw;
    height: 45px;
    background-color: rgba(89, 205, 251, 0.80);
    position: fixed;
    margin: auto;
    z-index: 9;

    
    .wrapper{
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 150px;
        
        .item{
            display: flex;
            align-items: center;
            font-size: 18px;
            .link{
                color: #E65AE7;
            }
        }
    }
}