.navbar{
    width: 100vw;
    height: 45px;
    background-color: rgba(89, 205, 251, 0.80);
    position: fixed;
    margin: auto;
    z-index: 9;

    
    .wrapper{
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 150px;
        margin-right: 10px;
        
        .item{
            margin-left: 100px;
            display: flex;
            align-items: center;
            font-size: 18px;
            .link{
                color: #E65AE7;
            }
        }

         .icons {
                display: flex;
                gap: 15px;
                cursor: pointer;
                margin-left: 10px;

                .cartIcon {
                    position: relative;
                    span{
                        font-size: 12px;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: #E65AE7;
                        color: white;
                        position: absolute;
                        right: -10px;
                        top: -10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
    }
}